[flake8]
exclude = .git,__pycache__,logs,venv
ignore =
    # N812: lowercase imported as non lowercase
    N812,
    # D101: missing docstring
    D101,
    # D400 First line should end with a period
    D400,
    # D401: first line should be in imperative mood
    D401,
    # D403: first line should end with a period
    D403,
    # D415: section should end with a period
    D415,
    # W504: line break after binary operator
    W504
max-line-length = 160
